@model CoreMvcDepartman.Models.Birim

@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<form class="form-group" method="post">
    <b>Birim Adı</b>
    @Html.TextBoxFor(x=>x.BirimAd, new {@class="form-control"})
    <br />
    <button class="btn btn-info">Birim Ekle</button>
</form>

